#bell {
	text-align: center;
}

#bell-current {
	font-size: 1.5em;
}

#bell-descript {
	font-size: 4em;
}

#bell-countdown {
	font-size: 6em;
}

@media (max-width: 767px) {
	#bell-countdown {
		font-size: 5em;
	}
}

.modal-body textarea {
	width: 100%;
	height: 10em;
}
